[Unit]
Description=FRC2706 MergeVision
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/pi/MergeVision/runMergeVision
WorkingDirectory=/home/pi/MergeVision/

[Install]
WantedBy=multi-user.target
