[Unit]
Description=FRC2706 FVTS
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/pi/FVTS/runFVTS
WorkingDirectory=/home/pi/FVTS/

[Install]
WantedBy=multi-user.target
